<h2>Perfil de usuario</h2>
<br><br>

Nombre: {{user.name}} <br><br>
Apellido: {{user.lastname}} <br><br>
Edad: {{user.age}} <br><br>
Email: {{user.email}} <br><br>

<form action="/api/sessions/logout" method="POST">
    <input type="submit" value="Cerrar Sesion">
</form>